<% include ../partials/header %>

<div class="wrapper">
    <form class="login" action="/signup" method="POST">
        <p>Регистрация</p>
        <div class="flash">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
        <input type="text" name="username" placeholder="Логин*" value="<%= rf.username %>">
        <input type="email" name="email" placeholder="E-mail" value="<%= rf.email %>">
        <input type="password" name="password" placeholder="Пароль*" value="<%= rf.password %>">
        <p style="text-align: center;"><br>Продолжая регистрацию вы соглашетесь с <a href="">условиями публичной оферты.</a></p>
        <button class="btn btn-lg btn-primary btn-block">Создать Аккаунт</button> 
        <a href="/" style="color: #999999;">Назад</a>
    </form>
</div>


<% include ../partials/footer %>
