<html>

<head>
    <title>Тех Строй Консалтинг | <%= page %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html { scroll-behavior: smooth; }
        body { font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; }
        video { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; }
        p { line-height: 1.5rem; }
        .loading p { margin-top: 1rem; font-size: 1.125rem; text-align: center; }
        .loading img { height: 4rem; }
        .line { position: absolute; bottom: 0; right: 0; width: 1rem; height: 1vh;
            background: #ff0000; -webkit-animation: loads 1s forwards;
            animation: loads 1s forwards; -moz-animation: loads 1s forwards; }
        .loading.loaded { opacity: 0; }  
        .loading { width: 100%; position: fixed; top: 0; left: 0; height: 100vh;
            background: #fff; z-index: 100; display: flex; justify-content: center;
            align-items: center; flex-direction: column; transition: all .5s ease; }
        
        @-webkit-keyframes loads { from { height: 1vh; } to { height: 100vh; } }
        @keyframes loads { from { height: 1vh; } to { height: 100vh; } }
    </style>
    <link rel="shortcut icon" type="image/png" href="<%= url %>/favicon.png">
    <link rel="stylesheet" type="text/css" href="<%= url %>/css/style.css">
</head>

<body>
    <div class="loading" id="loader">
        <img src="<%= url %>/svg/logo.svg">
        <p style="color: #222;">Тех Строй Консалтинг</p>
        <div class="line loads"></div>
    </div>
    
    <div id="callmepopup" class="callmepopup closed transparent">
        <form id="box">
            <div>
                <p>Введите свой номер</p>
                <input type="number" id="phone" name="tel" placeholder="+77777777777">
            </div>
            <button id="callmebacksubmit" class="btn btn-yellow">Перезвоните мне</button>
            <span id="callmeresponse" class="success">Ваша заявка успешно принята! Мы перезвоним в ближайшее время.</span>
            <span id="callmeerror" class="success"></span>
        </form>
    </div>
    
    <section id="topmenu" class="topmenu container shadow">
        <div>
            <div>
                <img src="<%= url %>/svg/location.svg">
                <p>Астана, район Есиль, ул.Сыганак 29,<br>Б/Ц "Евроцентр", блок-А  6 эт., 604 офис.</p>
            </div>
            <div>
                <img src="<%= url %>/svg/envelope.svg">
                <p>info@techsc.kz</p>
            </div>
            <div>
                <img class="phonetop" src="<%= url %>/svg/phone.svg">
                <p class="phonetop">+7 (700) 777 75 41</p>
            </div>
            <div>
                <button id="callmeback" class="btn btn-yellow">Перезвоните мне</button>
            </div>
        </div>
    </section>

    <div class="overlay" id="overlay">
        <a href="/">Главная</a>
        <a href="/portfolio">Портфолио</a>
        <a href="/certificates">Аккредитация</a>
        <a href="/about">О Нас</a>
        <a href="/posts">Блог</a>
        <a href="/contacts">Контакты</a>
    </div>

    <% if(light) { %>
        <section class="navbar container light" id="menu">
    <% } else { %>
        <section class="navbar container" id="menu">
    <% } %>
        <div>
            <div>
                <% if(light) { %>
                    <img src="<%= url %>/svg/logo.svg" alt="">
                <% } else { %>
                    <img src="<%= url %>/svg/logo-white.svg" alt="">
                <% } %>
            </div>
            <div>
                <% if(page === "Главная") { %>
                    <a href="#" class="active">Главная</a>
                <% } else { %>
                    <a href="/">Главная</a>
                <% } if(page === "Портфолио") { %>
                    <a href="#" class="active">Портфолио</a>
                <% } else { %>
                    <a href="/portfolio">Портфолио</a>
                <% } if(page === "Аккредитация") { %>
                    <a href="#" class="active">Аккредитация</a>
                <% } else { %>
                    <a href="/certificates">Аккредитация</a>
                <% } if(page === "О Нас") { %>
                    <a href="#" class="active">О Нас</a>
                <% } else { %>
                    <a href="/about">О Нас</a>
                <% } if(page === "Блог") { %>
                    <a href="#" class="active">Блог</a>
                <% } else { %>
                    <a href="/posts">Блог</a>
                <% } if(page === "Контакты") { %>
                    <a href="#" class="active">Контакты</a>
                <% } else { %>
                    <a href="/contacts">Контакты</a>
                <% } %>
                <div class="hamburger">
                    <div id="nav-icon4">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>